/Acceso_Datos/Practica_1/nbproject/private/
/Acceso_Datos/Practica_1/build/
/Acceso_Datos/Practica1/nbproject/private/
/Acceso_Datos/Practica1/build/
/Acceso_Datos/AD_Practica_1/nbproject/private/
/Acceso_Datos/AD_Practica_1/build/
/Acceso_Datos/AD_Practica_1/dist/
/Desarollo_Interfaces/Practica_1/Practica_2/nbproject/private/
/Desarollo_Interfaces/Practica_1/Practica_2/build/
/Acceso_Datos/AD_Practica_2/AD_Practica_2/nbproject/private/
/Acceso_Datos/AD_Practica_2/AD_Practica_2/build/
/Acceso_Datos/AD17-XMLconSAX/nbproject/private/
/Acceso_Datos/Programacion_NetBeans/Clases/JavaApplication4/nbproject/private/
/PSP/Programacion-netbeans/FTP_Proyecto/nbproject/private/
/PSP/Programacion-netbeans/FTP_Proyecto1/nbproject/private/
/PSP/Programacion-netbeans/FTP_Proyecto1/build/
